In [9]:
# 필요한 Module을 Import 하세요
import numpy as np
import pandas as pd
from datetime import datetime, timedelta

In [10]:
# 주어진 데이터를 불러오세요
data = pd.read_csv("Day11_Time.csv")

### 1. Object 타입으로 되어있는 Transaction Date 컬럼을 datetime으로 바꾸세요.

In [14]:
# 정답 Code
data['Transaction Date'] = pd.to_datetime(data['Transaction Date'])

### 2. Transaction Date 컬럼에 +30일을 더해보세요. (apply lambda 사용)

In [18]:
# 정답 Code
data['Transaction Date'].apply(lambda x: x + timedelta(days= 30))

0      2013-08-29
1      2013-08-29
2      2013-08-28
3      2013-08-29
4      2013-08-29
          ...
4168   2013-07-29
4169   2013-07-28
4170   2013-07-29
4171   2013-07-28
4172   2013-07-28
Name: Transaction Date, Length: 4173, dtype: datetime64[ns]

In [5]:
# 아래와 같은 형태가 나와야합니다.

0      2013-08-29
1      2013-08-29
2      2013-08-28
3      2013-08-29
4      2013-08-29
          ...
4168   2013-07-29
4169   2013-07-28
4170   2013-07-29
4171   2013-07-28
4172   2013-07-28
Name: Transaction Date, Length: 4173, dtype: datetime64[ns]

### 3.  Transaction Date 컬럼을 유닉스 프레임 형태로 바꿔보세요 (Scientific 형태로 보이는 것을 일반 숫자 형태로 보이도록 옵션 조정)

In [24]:
# 정답 Code
pd.set_option('display.float_format', lambda x: '%.f' %x)
pd.to_numeric(data['Transaction Date']) / 10**9

0      1375142400
1      1375142400
2      1375056000
3      1375142400
4      1375142400
          ...
4168   1372464000
4169   1372377600
4170   1372464000
4171   1372377600
4172   1372377600
Name: Transaction Date, Length: 4173, dtype: float64

In [7]:
# 아래와 같은 형태가 나와야합니다.

0      1375142400
1      1375142400
2      1375056000
3      1375142400
4      1375142400
          ...
4168   1372464000
4169   1372377600
4170   1372464000
4171   1372377600
4172   1372377600
Name: Transaction Date, Length: 4173, dtype: float64