In [1]:
# 필요한 Module을 Import 하세요
import pandas as pd
import numpy as np

In [2]:
# 데이터를 불러오세요
df = pd.read_csv("Day1_USA_Housing.csv")

### 1. 데이터셋의 전체 라인수는?

In [3]:
# Code
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Avg. Area Income              5000 non-null   float64
 1   Avg. Area House Age           4995 non-null   float64
 2   Avg. Area Number of Rooms     5000 non-null   float64
 3   Avg. Area Number of Bedrooms  5000 non-null   float64
 4   Area Population               4994 non-null   float64
 5   Price                         5000 non-null   float64
 6   Address                       5000 non-null   object
dtypes: float64(6), object(1)
memory usage: 273.6+ KB

답: 5000

### 2. 컬럼 'Address'의 데이터타입(Dtype)은?

In [4]:
# Code
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Avg. Area Income              5000 non-null   float64
 1   Avg. Area House Age           4995 non-null   float64
 2   Avg. Area Number of Rooms     5000 non-null   float64
 3   Avg. Area Number of Bedrooms  5000 non-null   float64
 4   Area Population               4994 non-null   float64
 5   Price                         5000 non-null   float64
 6   Address                       5000 non-null   object
dtypes: float64(6), object(1)
memory usage: 273.6+ KB

답: object

### 3. 결측치가 있는 컬럼 이름을 모두 기재하세요.

In [5]:
# Code
df.isnull().sum()

Avg. Area Income                0
Avg. Area House Age             5
Avg. Area Number of Rooms       0
Avg. Area Number of Bedrooms    0
Area Population                 6
Price                           0
Address                         0
dtype: int64

답: Avg. Area House Age, Area Population

### 4. 컬럼 'Avg. Area House Age' 의 표준편차(std)는?

In [6]:
# Code
df["Avg. Area House Age"].describe()

count    4995.000000
mean        5.976903
std         0.991448
min         2.644304
25%         5.322279
50%         5.969854
75%         6.649756
max         9.519088
Name: Avg. Area House Age, dtype: float64

답: 0.991448

### 5. 컬럼 'Area Population'을 오름차순으로 나열했을 때 75%에 해당하는 값은?

In [7]:
# Code
df["Area Population"].describe()

count     4994.000000
mean     36165.247709
std       9923.150935
min        172.610686
25%      29405.287283
50%      36199.406690
75%      42869.130390
max      69621.713380
Name: Area Population, dtype: float64

답: 42869.130390