In [1]:
# 필요한 Module을 Import 하세요
import pandas as pd
import numpy as np

In [2]:
# 과제를 위해 필요한 리스트입니다.
A = [3,5,7,9,11]
B = [2,4,6,8,10]

### 1. 주어진 두개의 리스트를 Numpy Array로 만들어보세요

In [5]:
# 정답 Code
a = np.array(A)
b= np.array(B)

In [6]:
a, b

(array([ 3,  5,  7,  9, 11]), array([ 2,  4,  6,  8, 10]))

In [4]:
# 아래와 같은 형태가 나와야합니다.

array([[ 3,  5,  7,  9, 11],
       [ 2,  4,  6,  8, 10]])

### 2. 리스트 A를 Pandas DataFrame 형태로 만들어보세요

In [10]:
# 정답 Code
df_a = pd.DataFrame(A)
df_b = pd.DataFrame(B)

In [8]:
df_a

    0
0   3
1   5
2   7
3   9
4  11

In [6]:
# 아래와 같은 형태가 나와야합니다.

    0
0   3
1   5
2   7
3   9
4  11

### 3. 주어진 두개의 리스트를 각각 다른 컬럼으로 가지는 DataFrame으로 만들어보세요 (index는 x,y로 지정, column 이름은 a,b,c,d,e로 지정)

In [14]:
# 정답 Code
df_a['1']= df_b

In [18]:
df = df_a.T

In [20]:
df.columns = ['a','b','c','d','e']
df.index = ['x','y']

In [22]:
df

   a  b  c  d   e
x  3  5  7  9  11
y  2  4  6  8  10

In [8]:
# 아래와 같은 형태가 나와야합니다.

   a  b  c  d   e
x  3  5  7  9  11
y  2  4  6  8  10