In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("yelp.csv",index_col = 0)

In [5]:
df.head()

,review_id,user_id,business_id,stars,date,text,useful,funny,cool
2967245,aMleVK0lQcOSNCs56_gSbg,miHaLnLanDKfZqZHet0uWw,Xp_cWXY5rxDLkX-wqUg-iQ,5,2015-09-30,LOVE the cheeses here. They are worth the pri...,0,0,1
4773684,Hs1f--t9JnVKW9A1U2uhKA,r_RUQSGZcd5bSgmTcS5IfQ,NuGZD3yBVqzpY1HuzT26mQ,5,2015-06-04,This has become our go-to sushi place. The sus...,0,0,0
1139855,i7aiPgNrNaFoM8J_j2OSyQ,zz7lojg6QdZbKFCJiHsj7w,ii8sAGBexBOJoYRFafF9XQ,1,2016-07-03,I was very disappointed with the hotel. The re...,2,1,1
3997153,uft6iMwNQh4I2UDpmbXggA,p_oXN3L9oi8nmmJigf8c9Q,r0j4IpUbcdC1-HfoMYae4w,5,2016-10-15,Love this place - super amazing - staff here i...,0,0,0
4262000,y9QmJ16mrfBZS6Td6Yqo0g,jovtGPaHAqP6XfG9BFwY7A,j6UwIfXrSkGTdVkRu7K6WA,5,2017-03-14,Thank you Dana!!!! Having dyed my hair black p...,0,0,0

In [7]:
X =df['text']
y= df['stars']

In [8]:
from sklearn.feature_extraction.text import CountVectorizer

In [9]:
cv = CountVectorizer()

In [10]:
cv.fit(X)

CountVectorizer()

In [12]:
X = cv.transform(X)

In [14]:
print(X)

  (0, 1423)	1
  (0, 1453)	1
  (0, 1580)	1
  (0, 1905)	2
  (0, 2027)	2
  (0, 3066)	1
  (0, 3694)	1
  (0, 4157)	1
  (0, 4938)	1
  (0, 4975)	1
  (0, 5112)	1
  (0, 6921)	1
  (0, 7535)	1
  (0, 9746)	2
  (0, 10103)	2
  (0, 10370)	1
  (0, 10440)	1
  (0, 11315)	1
  (0, 12016)	1
  (0, 12805)	1
  (0, 13373)	1
  (0, 15023)	1
  (0, 15210)	1
  (0, 15742)	1
  (0, 15791)	1
  :	:
  (9998, 27679)	3
  (9998, 27786)	1
  (9998, 27818)	1
  (9998, 27974)	2
  (9998, 28038)	3
  (9999, 1580)	1
  (9999, 2380)	3
  (9999, 2611)	1
  (9999, 2857)	1
  (9999, 8012)	1
  (9999, 9067)	1
  (9999, 10081)	1
  (9999, 10103)	1
  (9999, 10417)	1
  (9999, 11067)	1
  (9999, 14879)	1
  (9999, 16451)	1
  (9999, 16901)	1
  (9999, 21795)	1
  (9999, 22108)	1
  (9999, 22260)	1
  (9999, 25145)	1
  (9999, 26879)	1
  (9999, 27679)	1
  (9999, 28048)	1

In [15]:
cv.get_feature_names()[1500]

'ambulances'

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=.2 , random_state =100)

In [20]:
from sklearn.naive_bayes import MultinomialNB

In [21]:
model  =MultinomialNB().fit(X_train, y_train)

In [22]:
pred = model.predict(X_test)

In [24]:
pred

array([5, 5, 5, ..., 1, 5, 1], dtype=int64)

In [25]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [26]:
accuracy_score(y_test, pred)

0.9265

In [27]:
confusion_matrix(y_test, pred)

array([[ 421,   65],
       [  82, 1432]], dtype=int64)

In [29]:
print(classification_report(y_test, pred))

              precision    recall  f1-score   support

           1       0.84      0.87      0.85       486
           5       0.96      0.95      0.95      1514

    accuracy                           0.93      2000
   macro avg       0.90      0.91      0.90      2000
weighted avg       0.93      0.93      0.93      2000

In [30]:
from sklearn.ensemble import RandomForestClassifier

In [31]:
rf =RandomForestClassifier(max_depth = 10).fit(X_train, y_train)

In [32]:
pred2 = rf.predict(X_test)

In [33]:
accuracy_score(y_test, pred2)

0.7855